h1 {
    color: red;
}

p {
    color: green;
}

/* CERTO! */
h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

/* ERRADO!!! MÁ PRÁTICA*/
h2 {
    color: green; text-align: center; font-size: 50px;
}

/* Este é um comentário */

/* 
    Este
    é 
    um 
    comentário
*/

/* CLASSES E IDS */
.p-texto {
    color: lightgreen;
}

#titulo-app {
    color: purple;
    font-size: 40px;
}

/* Cores */
.nome {
    color: orange;
}

.hexa {
    color: #6a40c4;
}

.rgba {
    color: rgba(17, 197, 214, 1);
    font-size: 40px;
}

/* Backgrounds */
.div-backgrounds  {
    background-image: url('img/por-do-sol.jpg');
    height: 300px;
}

.titulo-background {
    text-align: center;
    background-color: #000;
    color: #fff;
}

/* Fontes */
.family {
    color: #000;
    font-size: 40px;
}

/* editando duas classes */
.family.serif {
    color: green;
}

.serif {
    font-family: "times new roman";

}

.sans-serif {
    font-family: arial;
}

.monospace {
    font-family: "Courier New";
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.bold {
    font-weight: bold;
}

.variant {
    font-variant: small-caps;
}

/* Box Model */
body {
    margin: 0;
}

.boxmodel {
    width: 200px;
    height: 200px;
    background-color: red;
    /* geral */
    /* padding: 20px; */

    /* específico */
    /* padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px; */

    /* específico agrupado */
    /* adicionando  padding no sentido horário */
    /* padding: 30px 20px 5px 10px; */

    /* específico agrupado - 3 medidas - top, right-left, bottom*/
    /* padding: 30px 20px 5px; */

    /* específico agrupado - 2 medidas - top-bottom, right-left */

    /* border */
    padding: 30px 20px;
    border: 3px solid #000;
    border-width: 5px 10px 2px 10px;
    /* border-left: 5px dotted blue; */
    /* border-right-style: double; */
    border-width: 20px 10px;
    border-radius: 15px;

    /* margin: 50px;
    margin: 5px 10px 10px 7px; */
    /* margin: 20px 10px; */
    margin: 100px;


    /* DISPLAY */

    /* display: none; */

    /* display: inline; */

    /* quando queremos utilizar uma div do lado do outra */
    /* display: inline-block; */
    
    /* posicionamente por linhas */
    display: block;
}

.paragrafo-box {
    color: #000;
    margin: 0;
}


/* POSITIONS */
.div-position {
    width: 500px;
    height: 500px;
    background-color: red;
    border-bottom: 2px dotted black;
}

/* static */
.static {
    position: static;
}

/* relative */
.relative {
    position: relative;
    background-color: blue;
    top: 100px;
    left: 50px;
}

/* absolute */
.absolute {
    position: absolute;
    background-color: purple;
    right: 0;
    top: 0;
}

/* fixed */
.fixed {
    position: fixed;
    height: 200px;
    background-color: yellow;
    bottom: 0;
    right: 0;
}

/* sticky */
.sticky {
    position: sticky;
    background-color: gray;
    top:0px;
}

.mini-div {
    height: 50px;
    width: 50px;
    top: 50px;
    left: 50px;
}


/* FLOAT */
.container {
    padding: 50px;
}

.div-float  {
    overflow: auto;
}

.img-float {
    width: 200px;
    height: 200px;
    float: left;
}

.float-right {
    float: right;
}

.p-float {
    color: #000;
}

/* Clear */
.clear {
    clear: both;
}

/* Units */
/* Pixels */
.pixel-1 {
    background-color: red;
    width: 100px;
    height: 100px;
}

.pixel-2 {
    background-color: blue;
    width: 500px;
    height: 50px;
}

/* Porcentagem */
.pai-porcentagem {
    height: 500px;
    width: 500px;
    background-color: black;
}

.porcentagem-1 {
    width: 50%;
    height: 50%;
    background-color: yellow;
}

.porcentagem-2 {
    width: 50%;
    height: 50%;
    background-color: black;
}

/* EM */
.pai-em {
    font-size: 50px;
}

.em-1 {
    width: .5em;
    height: .5em;
    background-color: purple;
}

/* REM */
html  {
    font-size: 20px;
}

.rem-1 {
    width: 1rem;
    height: 1rem;
    background-color: blue;
}

.rem-2 {
    font-size: 2rem;
}